<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        
     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/ko")
 
   
  
    <link href="@Url.Action("PostFeed", "Posts")" rel="alternate" type="application/rss+xml" title="RSS feed"/>

</head>
<body>
   
     
        @Html.Partial("nav")

          <div id="wrap">
            <div id="main" class="container clear-top">
                  @RenderBody()
            </div>
          </div>

    @Html.Partial("footer")
    

       @RenderSection("scripts", required: false)
   

</body>
</html>
